<ion-toolbar>
    <ion-title color="secondry" size="large">
      Student Assignment App
    </ion-title> 
    </ion-toolbar>
    <ion-content class="icontent" padding>
        <ion-list class="ilist"> 
      <ion-item> 
        <ion-input placeholder="username" [(ngmodel)]="username" type="email"></ion-input>
     </ion-item>
     <ion-item>
       <ion-input placeholder="password"[(ngmodel)]="password" type="Password"></ion-input>
      </ion-item>  
    <ion-button full (click)="login()" shape="round" >log in</ion-button>  
    <ion-button full (click)="Register()" color="light" shape="round">Register</ion-button>
  </ion-list> 
  </ion-content> 


